# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Generated sensitive files
passwd.txt
pass.key

# Editor directories
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
